body{
    background-color:rgb(206, 206, 206);
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
     margin: 0 auto;
     padding: 10px;
   
}



#quizz1{
 margin: left;
 text-align: center;
 width: 450px;
 background-color: rgb(158, 158, 158);
 border-radius: 7px;
 
}

#quizz2{

    margin: center;
    text-align: center;
    width: 450px;
    background-color: rgb(158, 158, 158);
    border-radius: 7px;
    
   }
 
   #quizz3{
  
    margin: right;
    text-align: center;
    width: 450px;
    background-color: rgb(158, 158, 158);
    border-radius: 7px;
   }
  
   #quizz4{
   
    text-align: center;
    width: 450px;
    background-color: rgb(158, 158, 158);
    border-radius: 7px;
    
   }

   #quizz5{
   
    margin: left;
    text-align: center;
    width: 450px;
    background-color: rgb(158, 158, 158);
    border-radius: 7px;
    
   }
   
   #quizz6{

       margin: center;
       text-align: center;
       width: 450px;
       background-color: rgb(158, 158, 158);
       border-radius: 7px;
       
      }
    
      #quizz7{
  
       margin: right;
       text-align: center;
       width: 450px;
       background-color: rgb(158, 158, 158);
       border-radius: 7px;
      }
     
      #quizz8{
       
       text-align: center;
       width: 450px;
       background-color: rgb(158, 158, 158);
       border-radius: 7px;
       
      }
p h2{
    text-align: center;
    color: azure;

}