body{
    background-color:rgb(206, 206, 206);
}

div{
    display: inline-block;
    margin: 1rem 1rem;
}

#quizz1{
 margin: left;
 text-align: center;
 width: 450px;
 background-color: rgb(158, 158, 158);
 border-radius: 7px;
 
}

#quizz2{
    margin: center;
    text-align: center;
    width: 450px;
    background-color: rgb(158, 158, 158);
    border-radius: 7px;
    
   }
 
   #quizz3{
    margin: right;
    text-align: center;
    width: 450px;
    background-color: rgb(158, 158, 158);
    border-radius: 7px;
   }
  
   #quizz4{
    text-align: center;
    width: 450px;
    background-color: rgb(158, 158, 158);
    border-radius: 7px;
    
   }
p h2{
    text-align: center;
    color: azure;

}
